body,html{
    margin: 0;
    padding: 0;

}
.contenedor{
    display: flex;
    height: 100vh;
    width: 100%;

}
.menu {
    width: 600px;
    height: 100vh;
    background-color: white;
    z-index: 2;
    box-shadow: -5px 0px 20px 0px #a0a0a0;
    overflow: scroll;
}
.titulo{
    font-size: 2rem;
    padding: 5px 20px;
}
.formulario{
    margin-top: 30px;
}
.principal{
    width: 100%;
}
#mapa {
    height: 100%;
  }
.boton{
      width: 80%;
      margin: 20px auto;
      display: block;
  }